
#me {
    width: 250px;
}
#bdec {
    width: 250px;
}
#link-reference-img {
    height: 15px;
}

.dark-tone {
    background-color: #031926;
    color: white;
}

.mid-tone {
    background-color: #468189;
    color: #031926;
}

.secondary-mid-tone {
    background-color: #77ACA2;
    color: #031926;
}

.bright-tone {
    background-color: #9DBEBB;
    color: #031926;
}

.secondary-bright-tone {
    background-color: #F4E9CD;
    color: #031926;
}