$primary: #FFC53A;
$secondary: #E06D06;
$dark: #161032;
$success: #86B300;
$info: #FAFF81;

// https://coolors.co/161032-faff81-ffc53a-e06d06-b26700

@import "../../node_modules/bootstrap/scss/bootstrap";
